.about {
  padding-top: 120px;
  padding-bottom: 120px;

  @media #{$tablet-width} {
    padding-top: 91px;
    padding-bottom: 93px;
  }

  @media #{$mobile-width} {
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.about__container {
  @include container;

  display: flex;
  justify-content: space-between;

  @media #{$mobile-width} {
    flex-direction: column;
  }
}

.about__text-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 56px;

  @media #{$tablet-width} {
    padding-top: 0;
  }

  @media #{$mobile-width} {
    margin-bottom: 32px;
  }
}

.about__text-wrapper h2 {
  @include clear-block;
  margin-bottom: 24px;

  @include font(600, 28px, 42px, $font-montserrat);
  color: $dark;

  @media #{$tablet-width} {
    max-width: 220px;
    margin-bottom: 16px;

    font-size: 26px;
    line-height: 36px;
  }

  @media #{$mobile-width} {
    max-width: 200px;

    font-size: 24px;
    line-height: 34px;
  }
}

.about__text-wrapper p {
  @include clear-block;
  max-width: 525px;

  @include font(400, 16px, 24px, $font-montserrat);
  color: $dark;

  @media #{$tablet-width} {
    max-width: 325px;
  }
}

.about__container img {
  @media #{$tablet-width} {
    @include size(324px, 264px);
    padding-top: 9px;
  }

  @media #{$mobile-width} {
    @include size(290px, 186px);
    padding-top: 0;
  }
}
