.advantages {
  padding-top: 110px;
  padding-bottom: 120px;

  background: #e1ebf6 url("../../img/advantages-bg-desktop@1x.jpg") no-repeat 0 0;
  background-size: 100% 562px;

  @media #{$retina-dppx} {
    background-image: url("../../img/advantages-bg-desktop@2x.jpg");
  }

  @media #{$tablet-width} {
    padding-top: 90px;
    padding-bottom: 100px;

    background-image: url("../../img/advantages-bg-tablet@1x.jpg");
    background-size: 100% 588px;

    @media #{$retina-dppx} {
      background-image: url("../../img/advantages-bg-tablet@2x.jpg");
    }
  }

  @media #{$mobile-width} {
    padding-top: 57px;
    padding-bottom: 34px;

    background-image: url("../../img/advantages-bg-mobile@1x.jpg");
    background-size: 100% 997px;

    @media #{$retina-dppx} {
      background-image: url("../../img/advantages-bg-mobile@2x.jpg");
    }
  }
}

.advantages__container {
  @include container;
}

.advantages__container h2 {
  @include title;
  margin-bottom: 49px;

  @media #{$mobile-width} {
    margin-bottom: 30px;
  }
}

.advantages__list {
  @include clear-list;

  display: flex;
  justify-content: space-between;

  @media #{$mobile-width} {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  position: relative;

  width: 31%;
  padding-top: 81px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 30px;

  background-color: $light;

  &::before {
    content: "";

    position: absolute;
    left: 30px;
  }

  &--liner::before {
    top: 30px;

    @include size(27px, 32px);

    background: url("../../img/icon-ship.svg") no-repeat 0 0;
  }

  &--system::before {
    top: 35px;

    @include size(38px, 21px);

    background: url("../../img/icon-double-checkmark.svg") no-repeat 0 0;
  }

  &--tours::before {
    top: 38px;

    @include size(42px, 15px);

    background: url("../../img/icon-boat.svg") no-repeat 0 0;
  }

  @media #{$tablet-width} {
    width: 30.3%;
    padding-top: 70px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 20px;

    &::before {
      left: 20px;
    }

    &--liner::before {
      top: 26px;

      background-size: 21px, 26px;
    }

    &--system::before {
      top: 30px;

      background-size: 33px, 19px;
    }

    &--tours::before {
      top: 32px;

      background-size: 38px, 13px;
    }
  }

  @media #{$mobile-width} {
    width: 290px;
    margin-bottom: 30px;
  }
}

.advantages__item--liner > h3 {
  @media #{$mobile-width} {
    max-width: 180px;
  }
}

.advantages__item--system > h3 {
  @media #{$mobile-width} {
    max-width: 155px;
  }
}

.advantages__item--tours > h3 {
  @media #{$mobile-width} {
    max-width: 165px;
  }
}

.advantages__item--liner > p {
  @media #{$tablet-width} {
    max-width: 160px;
  }

  @media #{$mobile-width} {
    max-width: 250px;
  }
}

.advantages__item--system > p {
  max-width: 285px;

  @media #{$tablet-width} {
    max-width: 170px;
  }

  @media #{$mobile-width} {
    max-width: 225px;
  }
}

.advantages__item--tours > p {
  max-width: 240px;

  @media #{$tablet-width} {
    max-width: 168px;
  }

  @media #{$mobile-width} {
    max-width: 235px;
  }
}

.advantages__item h3 {
  @include clear-block;
  margin-bottom: 8px;

  @include font(500, 18px, 25px, $font-montserrat);
  color: $dark;

  @media #{$tablet-width} {
    margin-bottom: 10px;
  }
}

.advantages__item p {
  @include clear-block;
  @include font(400, 14px, 20px, $font-montserrat);
  color: $dark;
}
