.card {
  position: relative;

  min-width: 260px;
  min-height: 386px;
  margin-bottom: 30px;

  transition: 0.5s;
  overflow: hidden;

  &:hover {
    background-color: $dark;
  }

  @media #{$tablet-width} {
    min-width: 309px;
  }

  @media #{$mobile-width} {
    min-width: 270px;
  }
}

.card:hover .card__info {
  top: 22px;

  padding-left: 25px;

  @media #{$tablet-width} {
    padding-left: 35px;
  }

  @media #{$mobile-width} {
    padding-left: 25px;
  }
}

.card:hover .card__info-list {
  opacity: 1;
}

.card__image h3 {
  @include clear-block;
}

.card__image img {
  position: absolute;
  z-index: -1;

  @media #{$tablet-width} {
    @include size(309px, 386px);
  }

  @media #{$mobile-width} {
    @include size(270px, 386px);
  }
}

.card__info {
  position: absolute;
  top: 330px;

  width: 100%;
  padding-top: 7px;
  padding-right: 25px;
  padding-left: 30px;

  transition: 0.5s;

  @media #{$tablet-width} {
    top: 325px;

    padding-right: 35px;
    padding-left: 36px;
  }

  @media #{$mobile-width} {
    top: 335px;

    padding-right: 25px;
    padding-left: 25px;
  }
}

.card__info h3 {
  @include clear-block;
  margin-bottom: 13px;

  @include font(500, 18px, 27px, $font-montserrat);
  color: $light;
}

.card__info-list {
  @include clear-list;
  margin-bottom: 25px;

  opacity: 0;
}

.card__info-item h4 {
  @include clear-block;
  margin-bottom: 1px;

  @include font(500, 14px, 20px, $font-montserrat);
  color: $light;
}

.card__info-item p {
  @include clear-block;
  margin-bottom: 11px;

  @include font(500, 14px, 20px, $font-montserrat);
  font-weight: 400;
  color: $grey;
}

.card__link {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 8px;

  @include font(600, 14px, 21px, $font-montserrat);
  text-align: center;
  color: $dark;

  background-color: $light;
  border: 0;

  transition: color 0.3s, background-color 0.3s, border 0.3s;

  &:hover {
    padding-top: 10px;
    padding-bottom: 7px;

    color: $light;

    background-color: $dark;
    border: 1px solid $light;
  }
}
