.cruises {
  min-height: 1000px;
  padding-top: 112px;
  padding-bottom: 90px;

  @media #{$tablet-width} {
    padding-top: 90px;
    padding-bottom: 70px;
  }

  @media #{$mobile-width} {
    padding-top: 57px;
    padding-bottom: 35px;
  }
}

.cruises__container {
  @include container;
}

.cruises__container h2 {
  @include title;
  margin-bottom: 49px;

  @media #{$mobile-width} {
    margin-bottom: 30px;
  }
}
