.feedback {
  padding-top: 50px;
  padding-bottom: 50px;

  background: url("../../img/feedback-bg-desktop@1x.jpg") no-repeat 0 0;
  background-size: 100% 555px;

  @media #{$tablet-width} {
    padding-bottom: 100px;

    background-image: url("../../img/feedback-bg-tablet@1x.jpg");
    background-size: 100% 805px;
  }

  @media #{$mobile-width} {
    padding-bottom: 65px;

    background-image: url("../../img/feedback-bg-mobile@1x.jpg");
    background-size: 100% 760px;
  }
}

.feedback__container {
  @include container;
  display: flex;
  justify-content: space-between;
  padding-right: 163px;

  @media #{$tablet-width} {
    flex-direction: column;
    align-items: center;
  }
}

.feedback__text-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 163px;
  padding-left: 60px;

  @media #{$tablet-width} {
    margin-bottom: 52px;
    padding-top: 39px;
    padding-left: 0;

    text-align: center;
  }

  @media #{$mobile-width} {
    margin-bottom: 34px;
    padding-top: 9px;

    align-items: center;
  }
}

.feedback__text-wrapper h2 {
  @include clear-block;
  margin-bottom: 8px;

  @include font(700, 40px, 60px, $font-montserrat);
  color: $dark;

  @media #{$tablet-width} {
    margin-bottom: 4px;

    font-size: 34px;
    line-height: 51px;
  }

  @media #{$mobile-width} {
    margin-bottom: 14px;

    font-size: 24px;
    line-height: 31px;
  }
}

.feedback__text-wrapper p {
  @include clear-block;
  max-width: 360px;

  @include font(400, 18px, 27px, $font-montserrat);
  color: $dark;

  @media #{$tablet-width} {
    max-width: 384px;
    padding-left: 34px;
  }

  @media #{$mobile-width} {
    max-width: 265px;
    padding-left: 0;

    font-size: 16px;
    line-height: 22px;
  }
}

.feedback__form-wrapper {
  max-width: 403px;
  padding-top: 44px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

  background-color: $dark;

  @media #{$mobile-width} {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;

    text-align: center;
  }
}

.feedback__form-wrapper p {
  @include clear-block;
  margin-bottom: 27px;

  @include font(500, 18px, 27px, $font-montserrat);
  color: $light;

  @media #{$mobile-width} {
    max-width: 215px;

    line-height: 25px;
  }
}
