.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;

  @media #{$tablet-width} {
    padding-top: 30px;
  }

  @media #{$mobile-width} {
    padding-top: 20px;

    &--nojs {
      min-height: 650px;
    }
  }
}

.header__container {
  @include container;
  min-width: 100%;
}

.header__top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 193px;

  @media #{$tablet-width} {
    margin-bottom: 214px;
  }

  @media #{$mobile-width} {
    margin-right: -15px;
    margin-bottom: 156px;
    margin-left: -15px;

    &--nojs {
      margin-bottom: 0;
    }
  }
}

.header__logo {
  @media #{$mobile-width} {
    position: absolute;
    z-index: 2;
    left: 15px;
  }
}

.header__logo-img {
  fill: $light;

  @media #{$tablet-width} {
    @include size(38px, 20px);
  }

  @media #{$mobile-width} {
    @include size(42px, 22px);

    fill: $dark;

    &--light {
      fill: $light;
    }
  }
}
