.social {
  @include clear-list;

  display: flex;
  justify-content: space-between;
  min-width: 117px;

  @media #{$tablet-width} {
    min-width: 87px;
  }

  @media #{$mobile-width} {
    min-width: initial;
    max-width: 87px;
  }
}

.social__img {
  &:hover {
    transform: scale(1.15);
  }

  transition: transform 0.3s;

  @media #{$tablet-width} {
    &--fb {
      @include size(9px, 16px);
    }

    &--inst {
      @include size(16px, 16px);
    }

    &--twitter {
      @include size(16px, 13px);
    }
  }
}
