@import "general/normilize.scss";
@import "general/fonts.scss";
@import "general/variables.scss";
@import "general/mixins.scss";
@import "general/global.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/about.scss";
@import "blocks/advantages.scss";
@import "blocks/cruises.scss";
@import "blocks/cards.scss";
@import "blocks/card.scss";

@import "blocks/footer.scss";
@import "blocks/social.scss";
